@model WebApplication3.Models.ITEMINBASCKET

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddToOrder</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
   
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
