@model WebApplication3.Models.ITEMINBASCKET

@{
    ViewBag.Title = "Подробнее";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Корзина</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Название
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ITEMS.ITEMNAME)
            </dd>
    
            <dt>
                Поставщик
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ITEMS.SUPPLIERS.SUPPLIERNAME)
            </dd>
            <dt>
                Стоимость
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ITEMS.PRISELIST.PRISE)
            </dd>
    
        </dl>
    </div>
    <p>
       
        @Html.ActionLink("Назад", "Index")
    </p>
</body>
</html>
