@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Belarus, Minsk<br />
    Krasnoarmeyskaya st. 86 <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

