@model WebApplication3.Models.CATEGORIES

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddToBascket</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
   
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
