@model IEnumerable<WebApplication3.Models.ITEMS>


    @{
        ViewBag.Title = "Index";
    }
    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>GOtoItems</title>
    </head>
    <body>

        <table class="table">
                <tr>
                    <th>
                       Наименование товара
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ITEMNAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRISELIST.PRISE)
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated) { 
                            @Html.ActionLink("Добавить в корзину", "AddtoBascket", new { id = item.ITEMID })
                            }
                        </td>
                    </tr>
                }




            </table>
    </body>
</html>
