
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заказ успешно оформлен</title>
</head>
<body>
    <div>
        Заказ успешно оформлен!
    </div>
</body>
</html>

